/* --rich-black: #0d1321ff;
--prussian-blue: #1d2d44ff;
--paynes-gray: #3e5c76ff;
--silver-lake-blue: #748cabff;
--eggshell: #f0ebd8ff; */

html, body {
    overflow-x: hidden;
    margin: 0;
}

section{
    background-color: #0d1321ff;
    padding-top: 3rem;
    margin: 0;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #f0ebd8ff;
    overflow: hidden;
}

.navbar-nav {
    width: 100%; 
    align-items: center;
    justify-content: space-evenly; 
    margin-left: 60rem;
}

.navbar {
    text-align: center; 
    padding-left: 3rem;
}

.navbar-toggler {
    border-color: #f0ebd8ff !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='%23f0ebd8ff' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.navbar-nav a.nav-link.active,
a.navbar-brand{
    color: #f0ebd8ff;
}

.navbar-nav a.nav-link.active:hover,
li.nav-item:hover{
    color: #0d1321ff;
    background-color: #f0ebd8ff;
    border-radius: 5px;
}

a.navbar-brand:hover{
    color: #f0ebd8ff;
}

.perfil{
    height: 40vh;
    width: 20vw;
    margin-right: 3rem;
    border: #f0ebd8ff solid 2px;
    border-radius: 50%;
    transition: box-shadow 0.3s, transform 0.3s;
}

.perfil:hover{
    box-shadow: 0 4px 30px rgba(240, 235, 216, 0.3);
    transform: scale(1.02);
}

footer a{
    text-decoration: none;
    padding-bottom: 1rem;
}

i{
    font-size: 1.5rem;
    color: #f0ebd8ff;
    padding: 0.5rem;
    border-radius: 50%;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70vw;
    margin: 0;
    padding: 0;
}

.texto{
    width: 40vw;
    margin: 1rem;
    padding-top: 3rem;
}

#home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10rem;
}

i:hover{
    background-color: #f0ebd8ff;
    color: #1d2d44ff;
}

a.btn{
    color: #1d2d44ff;
    background-color: #f0ebd8ff;
    border: #0d1321ff 2px solid;
}

a.btn:hover{
    background-color: #0d1321ff;
    border: #f0ebd8ff 2px solid;
    color: #f0ebd8ff;
}

/* SOBRE */
#sobre, 
#contato{
    min-height: 200vh;
    justify-content: space-around;
}

#sobre .container{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 80vh;
}

#sobre .container p{
    font-size: 1.2rem;
    border: #f0ebd8ff solid 2px;
    padding: 1rem;
    margin-top: 0.5rem;
    border-radius: 10px;
}

.soft-skills{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* cardi, pois não estava permitindo alteração com card, provavelmente por causa do bootstrap, deve ter uma configuração específica para quando tem uma class="card" */
.cardi {
    border: 3px solid #f0ebd8ff;
    border-radius: 10px;
    padding: 20px;
    background-color: #0d1321ff;
    transition: box-shadow 0.3s, transform 0.3s;
    width: 40vw;
    height: 35vh;
    margin: 1rem;
}

.cardi:hover {
    box-shadow: 0 4px 30px rgba(240, 235, 216, 0.3);
    transform: scale(1.02);
}

.skill-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

.skill-icons i {
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s;
    color: #f0ebd8ff;
}

.skill-icons i:hover,
.skill-icons i.active-icon,
.selected {
    color: #0d1321ff;
    background-color: #f0ebd8ff;
}

.skill-description {
    text-align: center;
    color: #f0ebd8ff;
}

/* PROJETOS */
.carousel-item img {
    height: 80vh;
}

#myCarousel{
    border: 3px solid #f0ebd8ff; 
    border-radius: 10px;
    width: 80vw;
    height: 80vh;
    transition: box-shadow 0.3s, transform 0.3s;
    overflow: hidden;
}

#myCarousel:hover,
#myCarousel2:hover,
#myCarousel3:hover,
#myCarousel4:hover,
#myCarousel5:hover,
#myCarousel6:hover{
box-shadow: 0 4px 40px rgba(240, 235, 216, 0.3);
    transform: scale(1.02);
}

#myCarousel2,
#myCarousel3,
#myCarousel4,
#myCarousel5,
#myCarousel6{
    width: 40vw;
    height: 50vh;
    overflow: hidden;
    transition: box-shadow 0.3s, transform 0.3s;
    border-radius: 10px;
}

#myCarousel2 img,
#myCarousel3 img,
#myCarousel4 img,
#myCarousel5 img,
#myCarousel6 img{
    height: 50vh;
}

.icones{
    width: 40vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-left: -40px;
}

.icones i{
    font-size: 2rem;
    margin-left: 40px;
    margin-right: 10px;
}

.icones p{
    font-size: 1.5rem;
    padding-top: 10px;
}

/* CONTATO */
h1{
    color: #0d1321ff;
}

form {
    background-color: #0d1321ff;
    border: #f0ebd8ff solid 2px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 55vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

form div{
    padding-left: 1.2rem;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 50vw;
    padding: 10px;
    margin: 10px 0;
    color: #f0ebd8ff;
    background-color: #0d1321ff;
    border: 1px solid #f0ebd8ff;
    border-radius: 5px;
}

input[type="checkbox"] {
    width: 15px; 
    height: 15px; 
    accent-color: #0d1321ff; 
}

label{
    font-weight: bolder;
    color: #f0ebd8ff;
}

fieldset label{
    font-weight: normal;
}

form button {
    background-color: #f0ebd8ff;
    color: #0d1321ff;
    padding: 0.5rem;
    border: #0d1321ff solid 2px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bolder;
}

form button:hover {
    border: #f0ebd8ff solid 2px;
    background-color: #0d1321ff;
    color: #f0ebd8ff;
}

#commentsSection {
    margin-top: 20px;
}

#commentsList {
    list-style-type: none;
    padding: 0;
}

#commentsList li {
    background-color: #0d1321ff;
    border: #f0ebd8ff solid 2px;
    width: 30vw;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

#commentsList li strong {
    display: block;
    margin-bottom: 5px;
    color: #f0ebd8ff;
}

#commentsList li p {
    margin: 5px 0;
    color: #f0ebd8ff;
}

fieldset{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50vw;
}

input[type="range"] {
    width: 20vw;
    margin-left: 10px;
}

output {
    font-weight: bold;
    margin-left: 10px;
}

#contato a{
    text-decoration: none;
}

#contato i{
    font-size: 3rem;
}

#contato .contato{
    height: 30vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3rem;
}

@media (max-width: 1495px) {
    .navbar-nav {
        margin-left: 30rem;
    }
}

@media (max-width: 380px) {
    #sobre .container{
        min-height: 180vh;
    }
    #sobre{
        min-height: 330vh;
    }
    #skills{
        padding-top: 1rem;
    }
}

@media (max-width: 576px){
    *{
        padding: 0;
        margin: 0;
    }
    .navbar-nav {
        margin-left: 0rem;
    }

    .perfil{
        height: 50vh;
        width: 60vw;
    }

    #home{
        height: auto;
        padding-top: 5rem;
    }

    .texto{
        width: 70vw;
    }

    .container {
        flex-direction: column;
        width: 90vw;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
/* ------------------------------------------ */    
    #sobre{
        justify-content: space-between;
        height: auto;
        min-height: 250vh;
        padding-top: 5rem;
    }

    #sobre .container{
        min-height: 130vh;
        justify-content: space-around;
        width: 95vw;
    }

    .cardi {
        width: 90vw;
        height: 35.5vh;
    }

    #skills{
        min-height: 100vh;
        margin-top: 1rem;
        width: 95vw;
        border-top: #f0ebd8ff solid 3px;
    }
    
    .skill-icons {
        gap: 5px;
    }
    
    .skill-icons i {
        font-size: 20px;
    }
    /* ----------------------------------- */
    .carousel-item img {
        height: 40vh;
    }

    .carousel-caption h1{
        font-size: 1rem;
    }

    .carousel-caption a{
        font-size: 1rem;
        padding: 0.5rem;
        
    }
    
    #myCarousel{
        border: 3px solid #f0ebd8ff; 
        border-radius: 10px;
        width: 90vw;
        height: 40vh;
        transition: box-shadow 0.3s, transform 0.3s;
        overflow: hidden;
    }
}

@media (min-width: 576px) and (max-width: 992px){
    *{
        padding: 0;
        margin: 0;
    }
    .navbar-nav {
        margin-left: 0rem;
    }

    .perfil{
        height: 30vh;
        width: 40vw;
    }

    #home{
        height: auto;
        padding-top: 5rem;
    }

    .texto{
        width: 70vw;
    }

    .container {
        flex-direction: column;
        width: 90vw;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    /* ------------------------------------------ */    
    #sobre{
        justify-content: space-between;
        height: auto;
        min-height: 150vh;
        padding-top: 1rem;
    }

    #sobre .container{
        min-height: 90vh;
        justify-content: space-evenly;
        width: 100vw;
    }

    .cardi {
        width: 75vw;
        height: 25vh;
    }

    #skills{
        min-height: 70vh;
        width: 95vw;
        margin-top: 0;
        border-top: #f0ebd8ff solid 3px;
    }
    
    .skill-icons {
        gap: 10px;
    }
    
    .skill-icons i {
        font-size: 30px;
    }
}

@media  (min-width: 992px) and (max-width: 1770px){
    #sobre{
        justify-content: space-between;
        height: auto;
        min-height: 150vh;
        padding-top: 1rem;
    }

    #sobre .container{
        min-height: 90vh;
        justify-content: space-evenly;
        width: 60vw;
    }

    .cardi {
        width: 45vw;
        height: 25vh;
    }

    #skills{
        min-height: 70vh;
        width: 95vw;
        margin-top: 0;
        border-top: #f0ebd8ff solid 3px;
    }
    
    .skill-icons {
        gap: 15px;
    }
    
    .skill-icons i {
        font-size: 30px;
    }
}