/* --rich-black: #0d1321ff;
--prussian-blue: #1d2d44ff;
--paynes-gray: #3e5c76ff;
--silver-lake-blue: #748cabff;
--eggshell: #f0ebd8ff; */

html, body {
    overflow: hidden; /* Esconde as barras de rolagem */
    margin: 0;
    height: 100vh; /* Garantir que ocupa a altura total da janela */
}

section{
    background-color: #1d2d44ff;
    padding-top: 3rem;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
}

.navbar-nav {
    width: 100%; 
    align-items: center;
    justify-content: space-evenly; 
    margin-left: 60rem;
}

.navbar {
    text-align: center; 
}

.light {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 50%;
    pointer-events: none; 
    transition: background-color 0.3s, transform 0.1s;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.03);
    transform: translate(-50%, -50%); 
    display: none; 
}

