* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #001f33, #003366, #004080);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100vw;
    height: 100vh;
    margin: 3rem;
}

h1,
h3,
p,
label,
i {
    color: azure;
    font-weight: bolder;
}

h1,
i {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

p,
label {
    font-size: 1rem;
}

button {
    width: 6vw;
    height: 5vh;
    border: azure solid 2px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.5);
    background-color: transparent;
    color: azure;
    font-size: 1rem;
    font-weight: bolder;
}

input {
    width: 30vw;
    height: 5vh;
    border-radius: 20px;
    font-size: 1rem;
    padding: 1rem;
}

i,
form,
#resultado {
    border: azure solid 2px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.5);
}

i {
    padding: 0.5rem;
    border-radius: 50%;
}

form{
    width: 32vw;
    height: 50vh;
    margin: 2rem;
    padding: 1rem;
}

form label{
    margin-left: 1.1rem;
}

form textarea{
    border-radius: 20px;
    width: 30vw;
    height: 22vh;
    padding: 1rem;
}

#escrever{
    height: 150vh;
}

#escrever button{
    margin: 2rem;
    margin-left: 12rem;
}

#resultado{
    padding: 1.5rem;
}
